<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

	<link href="{{ static_url('css/bootstrap-table.min.css') }}" rel="stylesheet">

	<link href="{{ static_url('css/all.min.css') }}" rel="stylesheet">

	<link href="{{ static_url('css/animate.css') }}" rel="stylesheet">

	<link href="{{ static_url('css/styles.css') }}" rel="stylesheet">

	<title>WebTorz</title>
</head>
