<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
	<a class="navbar-brand" href="{{ reverse_url('main') }}">WebTorz</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
		        <a class="nav-link" href="{{ reverse_url('main') }}"><i class="fas fa-cloud-download-alt"></i> Torrents</a>
	      	</li>
	      	
	      	<li class="nav-item">
		        <a class="nav-link" href="{{ reverse_url('files') }}"><i class="far fa-folder-open"></i> Files</a>
	      	</li>
		</ul>

		<ul class="navbar-nav">
			<li class="nav-item">
				<span class="d-sm-none"><hr/></span>
		        <a class="nav-link" href="{{ reverse_url('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
	      	</li>
		</ul>
	</div>
</nav>
