<script type="text/javascript" src="{{ static_url('js/jquery-3.3.1.min.js') }}"></script>

<script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ static_url('js/bootstrap-table.min.js') }}"></script>

<script type="text/javascript" src="{{ static_url('js/bootstrap-notify.min.js') }}"></script>

<script type="text/javascript" src="{{ static_url('js/handlebars-v4.0.12.js') }}"></script>

<script id="notify-template" type="text/x-handlebars-template">
	<div data-notify="container" class="col-11 col-sm-3 alert alert-{0}" role="alert">
		<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
		<span data-notify="icon"></span> <span data-notify="title">{1}</span> <span data-notify="message">{2}</span>
		<div class="progress" data-notify="progressbar">
			<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		</div>
		<a href="{3}" target="{4}" data-notify="url"></a>
	</div>
</script>

<script>
	var NOTIFY_TEMPLATE = Handlebars.compile(document.getElementById('notify-template').innerHTML);

	function notify(icon,title,message,type,additionalSettings) {
		var options = {
			icon: icon,
			title: title,
			message: message,
			target: '_blank'
		};

		var settings = {
			element: 'body',
			type: type,
			template: NOTIFY_TEMPLATE()
		};

		if (additionalSettings) {
			for (var key in additionalSettings) {
				settings[key] = additionalSettings[key];
			}
		}

		var $notify = $.notify(options,settings);

		return $notify;
	}

	function notifyError(message) {
		var $notify = notify('fas fa-exclamation-triangle','',message,'danger');

		return $notify;
	}

	function notifyWarning(message) {
		var $notify = notify('fas fa-exclamation-circle','',message,'warning');

		return $notify;
	}

	function notifySuccess(message) {
		var $notify = notify('fas fa-check-circle','',message,'success');

		return $notify;
	}

	function formatBytes(bytes,decimals) {
		if (bytes == 0) return '0 Bytes';
		var k = 1024,
		dm = decimals || 2,
		sizes = ['Bytes','KB','MB','GB','TB','PB','EB','ZB','YB'],
		i = Math.floor(Math.log(bytes) / Math.log(k));
		return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
	}

	function getCookie(name) {
	    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
	    return r ? r[1] : undefined;
	}

	function postJSON(url,data,successCallback,completeCallback) {
	    $.ajax({
	    	url: url,
	    	data: JSON.stringify(data),
	    	contentType: 'application/json',
	    	dataType: 'json',
	    	type: 'POST',
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader('X-CSRFToken',getCookie('_xsrf'));
				}
			},
	        success: function(result,status,xhr) {
	        	if (successCallback) {
	        		successCallback(result,status,xhr);
	        	}
	        },
	        complete: function(xhr,status) {
	        	if (completeCallback) {
	        		completeCallback(xhr,status);
	        	}
	        }
	    });
	};

	$(document).ready(function() {
		var currentPage = window.location.pathname;
		$("#navbar ul li a[href='" + currentPage + "']").parent().addClass("active");
	});
</script>