<!DOCTYPE html>
<html lang="en">
	{% include '_header.html' %}

	<body>
		<div class="text-center" id="login_container">
			<form id="login_form" method="POST" action="#" autocomplete="off">
				<label for="username" class="sr-only">Username</label>
				<input class="form-control" id="username" placeholder="Username" type="text" autofocus required>

				<label for="password" class="sr-only">Password</label>
				<input class="form-control" id="password" placeholder="Password" type="password" required>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit" id="login_btn">Login</button>
			</form>
		</div>

		{% include '_scripts.html' %}

		<script>
			var $login_form;
			var $username;
			var $password;
			var $login_btn;

			$(document).ready(function() {
				$login_form = $('#login_form');
				$username = $('#username');
				$password = $('#password');
				$login_btn = $('#login_btn');

				$login_form.submit(function(e) {
			        e.preventDefault();

			        $login_btn.prop('disabled',true);

			        $login_notify = notify('fas fa-circle-notch fa-spin','','Loading...','info',{'delay':0,'allow_dismiss':false});

			        var username = $username.val();
			        var password = $password.val();

			        var data = {
			        	'username': username,
			        	'password': password
			        };

			        var successCallback = function(result,status,xhr) {
						var authenticated = result['authenticated'];

						if (authenticated) {
							window.location.replace('{{ reverse_url("main") }}');
						} else {
							notifyError('Login failed');

							$username.val('');
							$password.val('');

							$login_btn.prop('disabled',false);

							$login_notify.close();
						}
					};

					postJSON('{{ reverse_url("login") }}',data,successCallback);
			    });
			});
		</script>
	</body>
</html>